/* img{
    border: 3px solid #fff8f8;
}

.container-fluid{
    height: 100vh;
    background-color: greenyellow;
    display: flex;
    justify-content:  center;
    align-items: center;
}

.container-fluid > div {
    width: 85%;
    min-width: 300px;
    max-width: 500px;
}

.card{
    width: 100%;
    background-color: #d61010;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn a, .btn a:hover {
    color: red;
    text-decoration: none;
    
}

 */

.create {
    display: inline-block;
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: normal;
    background: linear-gradient(90deg,#5522fa 0,#0074e4 100%);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;
    :hover{
        box-shadow: 0 0 0 0.15rem #5ceace;
    }
    
}

.logbutton{
    
    outline: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding: 9px 22px;
    font-size: 22px;
    height: 50px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    line-height: normal;
    background: rgb(196, 199, 206);
    border-radius: 50px;
    transition: color .2s ease,background-color .2s ease,box-shadow .2s ease;

    
}


